*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:1200px;
	margin: auto;
}
.product-items{
	width:1500px;
	height:800px;
	justify-content:space-between;
	background-color:white;
	padding:12px;
}
.product-item{
	width:250px;
	height:400px;
	float:left;
	text-align:center;
	padding:12px;
}
.product-item:hover{
	transform:scale(1.05);
	box-shadow:0px 0px 4px #000000;
}
.product-item img{
	width:100%;
	margin-bottom:20px;
}
.product-item-text{
	display:flex;
	justify-content:space-between;
}
.product-item button{
	margin-top:12px;
	height:30px;
	padding:0 12px;
	cursor:pointer;
	border:none;
	background-color:orange;
}
.product-item button:hover{
	background-color:#EF5127;
	transition: all 0.25s ease-in-out;
}
.cart{
	width:50%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}
.cart h2{
	margin-bottom:30px;
}
.cart table{
	width:100%;
}
.cart table thead tr th:first-child{
	text-align:left;
}
.cart table tr td{
	margin-bottom:1px solid gray;
	padding:12px 0;
}
.cart table thead tr th:last-child{
	text-align:right;
}
.cart table tbody tr td:last-child{
	text-align:right;
}
.cart button{
	margin-top:12px;
	height:30px;
	padding:0 12px;
	cursor:pointer;
	border:none;
	background-color:orange;
}
.cart{
	position: fixed;
	height: 100vh;
	width: 400px;
	right: 0;
	top: 0;
	background-color: pink;
	padding: 12px 20px;
	right: -100%;
	transition: all 0.3s ease;
}
.cart i{
	cursor: pointer;
	margin-bottom: 20px;
}
.cart-icon i{
	cursor: pointer;
}